@import "./modern-normalize.css";
@import "./brictson-reset.css";

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    color: #222222;
}

h1 {
    font-size: 2.986rem;
}

.notification {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px 40px;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #222222;
    border-radius: 15px;
}

.gameboard {
    width: fit-content;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 5px;
    grid-template-columns: 25vh 25vh 25vh;
    background-color: #222222;
}

.unit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 25vh;
    font-size: 7.993rem;
    background-color: #ffffff;
}