@import "./modern-normalize.css";
@import "./brictson-reset.css";

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    color: #222222;
}

h1 {
    font-size: 2.986rem;
}

.card {
    padding: 20px 40px;
    font-size: 1.44rem;
    color: #ffffff;
    background-color: #222222;
    border-radius: 15px;
}

.notification {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 10px;
    top: 20px;
    right: 20px;
    padding: 20px 40px;
}

#player-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    top: 0;
    right: 0;
}

#player-info input {
    text-align: center;
    color: #ffffff;
    background-color: transparent;
    border: none;
    border-bottom:2px solid #f1f1f1;
}

.btn {
    padding: 3px 9px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #222222;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.board {
    width: fit-content;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 5px;
    grid-template-columns: 25vh 25vh 25vh;
    background-color: #222222;
}

.unit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 25vh;
    font-size: 7.993rem;
    background-color: #ffffff;
    cursor: pointer;
}

.highlight {
    color: red;
}

.disable {
    pointer-events: none;
}